<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /smart-pet-care-system/

    # Redirect root to Public
    RewriteRule ^$ Public/ [L]

    # Redirect all requests to Public folder
    RewriteCond %{REQUEST_URI} !^/smart-pet-care-system/Public/
    RewriteRule ^(.*)$ Public/$1 [L]

</IfModule>
