<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /smart-pet-care-system/Public/

    # If file or folder doesn't exist
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Send request to index.php
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>